.container {
  /* Write your code here.*/
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 50px 50px 50px;
  grid-gap: 10px;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
}

.item {
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}

.item-1 {
  background-color: orange;
}

.item-2 {
  background-color: red;
}

.item-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: green;
}

.item-4 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: blue;
}